@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono&display=swap');

.mainlogo{
    display: flex;
    justify-content: center;
}

.logo-app-name, .user-link, .quests-link{
    display: flex;
    justify-content: center;
    text-align: center;
    color:whitesmoke;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 800;

   
   
}

.logo-app-name{
    animation-name: fun-animation;
    animation-duration: 3s;
}


@keyframes fun-animation{
    from{opacity:0}
    to{opacity: 0.5}
}

@media only screen and (min-width: 768px) {
    aside {
       width: 30%;
       height: 100%;
     }
 }
