@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono&display=swap');

.mainlogo{
    display: flex;
    justify-content: center;
}

.logo-app-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 800;   
}

.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-link, .quests-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 200px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 2em;
    color: rgba(247, 122, 158,1);
    background-color: rgba(81, 55, 112, 1);
   
}

.link-div-home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.logo-app-name{
    animation-name: fun-animation;
    animation-duration: 3s;
}


@keyframes fun-animation{
    from{opacity:0}
    to{opacity: 0.5}
}

@media only screen and (min-width: 768px) {
    aside {
       width: 30%;
       height: 100%;
     }
 }
