@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono&display=swap');

.userheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 800;   
    animation-name: fun-animation;
    animation-duration: 3s;
}

.UserDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    font-family: 'Ubuntu Mono', monospace; 
    text-transform: uppercase;
    line-height: 50px;
}

.UserGains{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color:whitesmoke;
    font-family: 'Ubuntu Mono', monospace; 
    text-transform: uppercase;
    line-height: 50px;
    
}

.surrounding{
    background-color: rgba(247, 122, 158,0.45);
}

/* .title-info{
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.title-app-name{
    animation-name: fun-animation;
    animation-duration: 3s;
}

.linkdivhome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 300px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: small;
    border-radius: 2em;
    color: rgba(247, 122, 158,1);
    background-color: rgba(81, 55, 112, 1);
}


@keyframes fun-animation{
    from{opacity:0}
    to{opacity: 0.5}

    0% {
        -webkit-transform: scale(0.9);
        transform:scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform:scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform:scale(0.9);
    }
}


