
.fuuut{
    color:white;
    font-family: "Rajdhani",sans-serif;
}
.footerbody,.footletts{
    display: grid;
    background-color: #0f0212;
    font-family: 'Rajdhani', sans-serif;
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



li{
    justify-self: center;
    align-self: center;
    list-style-type: none;
}