
.fuuut{
    color:white;
    font-family: "Rajdhani",sans-serif;
}
.footerbody,.footletts{
    display: grid;
    background: rgb(251,180,97);
    background: linear-gradient( rgba(251,180,97,1) 1%, rgba(247,122,158,1) 43%, rgba(81,55,112,1) 88%);
    font-family: 'Rajdhani', sans-serif;
    position: fixed;
    height: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



li{
    justify-self: center;
    align-self: center;
    list-style-type: none;
}
.Guide{
    position: relative;
    left: 0;
    
}