body {
  background-image: url('./images/highway-sky.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center, center;
}

.nav-bar{
  display: flex;
  justify-content: baseline;
}

